/* variables declared here - these are colors for our pages, as well as the font stacks. */

:root {
  --Primary-Soft-orange: hsl(35, 77%, 62%);
  --Primary-Soft-red: hsl(5, 85%, 63%);
  --Neutral-Off-white: hsl(36, 100%, 99%);
  --Neutral-Grayish-blue: hsl(233, 8%, 79%);
  --Neutral-Dark-grayish-blue: hsl(236, 13%, 42%);
  --Neutral-Very-dark-blue: hsl(240, 100%, 5%);

  --font-family: "Inter", sans-serif;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 0.93rem;
  line-height: 1.7;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  transition: 150ms ease-in-out;
  transition-property: color, background-color;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.wrapper {
  width: min(1110px, calc(100% - 32px));
  margin-inline: auto;
}

/* ----------header----------- */

.header {
  display: flex;
  justify-content: space-between;
  padding-block: 1.875rem;
}

.header div {
  display: inline-flex;
  align-items: center;
}

.nav__list-item a {
  color: var(--Neutral-Very-dark-blue);
  font-size: 0.9375rem;
  line-height: 1.3;
  opacity: 0.9;
}

a:hover {
  color: var(--Primary-Soft-red);
}

.close {
  display: none;
}

.menu,
.close {
  cursor: pointer;
}

.grid {
  display: grid;
  gap: 64px;
}

/* -----------main----------- */
.main {
  display: grid;
  gap: 1.5rem;
}

.main__heading {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--Neutral-Very-dark-blue);
}

.main__disc p {
  margin-block-end: 1.875rem;
  color: var(--Neutral-Dark-grayish-blue);
}

.main__disc-button {
  justify-self: start;
  display: inline-block;
  background-color: var(--Primary-Soft-red);
  color: var(--Neutral-Off-white);
  font-size: 0.875rem;
  letter-spacing: 0.31em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.75rem 2rem;
}

.main__disc-button:hover {
  color: var(--Neutral-Off-white);
  background-color: var(--Neutral-Very-dark-blue);
}

/* --------new------------ */

.new {
  background-color: var(--Neutral-Very-dark-blue);
  padding: 1.5rem 1.25rem;
}

.new__title {
  font-size: 2rem;
  color: var(--Primary-Soft-orange);
}

.new__post {
  padding-block: 1.875rem;
  border-block-end: 1px solid var(--Neutral-Grayish-blue);
}

.new__post:last-child {
  border: none;
}

.new__headline {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 800;
  margin-block-end: 0.5rem;
  color: var(--Neutral-Off-white);
}

.new__headline:hover {
  color: var(--Primary-Soft-orange);
}

.new__desc {
  font-size: 0.93rem;
  color: var(--Neutral-Grayish-blue);
  opacity: 75%;
}

/* -----------blog------------ */

.blog {
  display: grid;
  gap: 1.875rem;
}

.blog__item {
  display: grid;
  grid-template-columns: 6.25rem auto;
  grid-template-rows: repeat(3, auto);
  gap: 0.625rem 1.5rem;
}

.blog__img {
  grid-row: 1 / 4;
}

.blog__number {
  color: var(--Neutral-Grayish-blue);
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
}

.blog__headline {
  align-self: center;
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1.1;
  transition: 150ms ease-in-out;
}

.blog__headline a {
  color: var(--Neutral-Very-dark-blue);
}
.blog__headline a:hover {
  color: var(--Primary-Soft-orange);
}

.blog__disc {
  align-self: end;
}

/* ------------auther------------- */
.attribution {
  padding-block: 3.1375rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ----------------- for mobile view--------- */

@media (max-width: 700px) {

  .header .header__logo {
    width: 2.8125rem;
  }

  .body--no-scroll {
    overflow: hidden;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
  }

  .menu--hide {
    display: none;
  }

  .close--show {
    display: block;
  }

  .nav {
    background-color: var(--Neutral-Off-white);
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    padding: 20px;
    padding-top: 130px ;
    transition: all 0.3s ease;
  }

  .header .menu-wrapper {
    position: relative;
    z-index: 1;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .nav--visible {
    right: 0;
  }

  .nav__list-item a {
    color: var(--Neutral-Very-dark-blue);
    opacity: 1;
  }
}

/* ------------for desktop view-------------- */

@media (min-width: 700px) {
  .header {
    padding-block: 4.625rem 3.4375rem;
  }

  .main__heading {
    font-size: 3.5rem;
  }

  .nav__list {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }

  div .menu-wrapper {
    display: none;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px auto auto;
    gap: 1.875rem;
  }

  .main {
    gap: 30px;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
  }

  .main__picture {
    grid-column: 1 / 3;
  }

  .new {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .new__title {
    font-size: 2.5rem;
  }

  .blog {
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    padding-block-start: 2.5rem;
  }
}
